<!DOCTYPE html>
<html>
    <head>
        <title>Share Project| Share your ideas and collaborate with like minds</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&family=Sansita+Swashed:wght@800&family=Slabo+27px&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style3.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav style="background-color: #DAE0E6;"  class="navbar navbar-expand-lg navbar-light ">
                <img style="margin-top: -10px; margin-right: 10px; padding: 0;" src="/img/pngtree-planet-earth-vector-icon-png-image_3728954-removebg-preview.png"  height="40px"><input placeholder="Search" class="search form-control" type="text">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a href="/discover" id="links" class="nav-link " href="#">Discover <span class="sr-only">(current)</span></a>
                    <a id="links" class="nav-link" href="#">Resources</a>
                    <a id="links" class="nav-link" href="#">Questions</a>
                    <a href="/profile/<%= req_user.username %>" id="login-links"  class="navbar-brand" href="#"><img  src="/<%= req_user.img_path %>"  class="profile-img"  style="margin-right: 6px; margin-top: 0px;" height="40px"><%= req_user.username %></a>
                    <a href="/new-post" style="color: #0b3cc2;" id="links" class="nav-link" href="#"><img height="24px" src="/img/blog.png"></a>
                    <a style="color: #0b3cc2;" id="links" class="nav-link" href="#"><img height="24px" src="/img/message.png"></a>
                    <a style="color: #0b3cc2;" id="links" class="nav-link" href="#"><img height="24px" src="/img/notification-bell-outline-interface-symbol.png"></a>
                    <a style="color: #0b3cc2;" id="links" class="nav-link" href="/logout">Logout</a>

                   
                  </div>
                </div>
            </nav>
        </header>

        <main style="background-color: white;">
            <div class="about-user ">
                <div class="row">
                    
                    <div class="user-profile col-md-3">
                        <img src=" /img\ato-aikins-283964-unsplash (2).jpg" class="profile-img-user">
                        <div style="padding-left: 10px; padding-top: 4px;">
                            <h4><%= user.username %></h4>
                            <p class="txt" style="color:rgb(36, 41, 46);; font-size: 15px; font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;">A cool hardworking guy that loves tech and science</p>
                            <% if( `${user._id}` != `${req_user._id}`){ %>
                                <a href="/follow/<%= user._id %>" style="margin-top: 0;"></a>
                                    <% if(profile.followers.includes(req_user._id)){ %>
                                        <button  type="button" class="btn btn-secondary"> Unfollow</button></a>
                                    <% }else{ %>
                                        <button  type="button" class="btn btn-secondary"> Follow</button></a>
                                    <%}%>
                            <% } %>
                            <div>
                                <p style="color: #24292E;"> <a style="color: black;" href="/followers/<%= user.username %>"><b><%= profile.followers.length %></b>Followers.</a> <a style="color: black;" href="/following/<%= user.username %>"><b><%= profile.following.length %></b> following</a> </p>
                            </div>
                           
                        </div>
                        <ul style="list-style: none; padding-left: 0;">
                            <li class="loc">
                                <img height="18px" src="/img\location-pin.png"> Lagos,Nigeria
                            </li>
                            <li style="margin-top: 3px;" class="loc">
                                <img height="18px" src="/img\iconfinder_google_1608914.png"> Olayinkaganiyu1@gmail.com
                            </li>

                        </ul>
                    </div>
                        
                    <div id="user-profile"  class="col-md-9">
                        <ul style="list-style: none; padding-left: 0;">
                            <li class="profile-nav" >
                                <a href="/followers/<%= user.username %>" id="profile-links" href="">Followers</a>
                            </li>
                            <li class="profile-nav" >
                                <a href="projects" id="profile-links" href="">Following</a>
                            </li>
                            
                        </ul>
                        <hr style="width: 100%; margin-top: 10px;">
    
                   
                    <form>
                        <input class="search-project" type="text">
                    </form>

                    <% if(profile.followers.length==0){ %>
                        <div class="follow-part">
                            <p>You do not have any followers yet</p>
                        </div>
                        
                    <% }else{ %>
                        <% profile.followers.forEach((elements)=>{ %>
                            <div class="follow-part">
                                <img class="follow-img" src="/<%= elements.img_path %>"alt="Profile pic" onerror="this.onerror=null;this.src='/img/download.png'" >
                                <div style="margin-top: 4px; width: 83%;">
                                    <a href="/profile/<%= elements.username %>" class="link"><h4 style="margin-bottom: 2px;"><%= elements.username %></h4></a>
                                    <p class="follow-abt"><%= elements.about %> </p>
                                </div>
                                <a href="/follow/<%= elements.username %>"><p class="follow-link">Follow</p></a>
                               
        
                            </div>
                        <% }) %>
                    <% } %>
                    </div>

                    
                </div>
                
        </div>
        
        </main>
        <footer>

        </footer>
    </body>

</html>